.floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: auto;
  height: 60px;
  background-color: #007bff;
  color: white;
  font-size: 32px;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  z-index: 1;
}
